<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SpellWork.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <SpellWork.Properties.Settings>
            <setting name="Host" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="PortOrPipe" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="User" serializeAs="String">
                <value>trinity</value>
            </setting>
            <setting name="Pass" serializeAs="String">
                <value>trinity</value>
            </setting>
            <setting name="WorldDbName" serializeAs="String">
                <value>world</value>
            </setting>
            <setting name="UseDbConnect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DbcPath" serializeAs="String">
                <value>dbc</value>
            </setting>
            <setting name="GtPath" serializeAs="String">
                <value>gt</value>
            </setting>
          <setting name="Locale" serializeAs="String">
            <value>ruRU</value>
          </setting>
        </SpellWork.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
